.Question {
    min-height: 300px;
}

.QuestionNavigationButton {
    position: relative;
    right: 5px;
    float: right;
}

.field {
    width: 70%;
}

.answer {
    min-height: 100px;
}