<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
             http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <beans:import resource="applicationContext.xml"/>
    <global-method-security secured-annotations="enabled" jsr250-annotations="enabled" pre-post-annotations="enabled"/>

    <http auto-config="true" use-expressions="true" access-denied-page="/error/accessDenied.xhtml">

        <remember-me key="jgeekWebSite"/>
        <intercept-url pattern="/student/**" access="hasAuthority('ROLE_STUDENT')"/>
        <intercept-url pattern="/admin/**" access="hasAuthority('ROLE_ADMIN')"/>
        <intercept-url pattern="/teacher/**" access="hasAuthority('ROLE_TEACHER')"/>
        <intercept-url pattern="/coursehead/**" access="hasAuthority('ROLE_LECTURER')"/>
        <intercept-url pattern="/*" access="permitAll"/>

        <form-login
                login-processing-url="/login_check"
                login-page="/index.xhtml"
                default-target-url="/student/main.xhtml"
                authentication-failure-url="/index.xhtml"/>

        <logout invalidate-session="true"
                logout-success-url="/index.xhtml"
                logout-url="/j_spring_security_logout"/>

        <!-- Uncomment to limit the number of sessions a user can have -->
        <session-management>
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true"/>
        </session-management>
        <custom-filter ref="authenticationFilter" position="FIRST"/>
    </http>


    <beans:bean class="org.springframework.security.authentication.encoding.ShaPasswordEncoder" id="passwordEncoder"/>
    <beans:bean class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter"
                id="authenticationFilter">
        <beans:property name="passwordParameter" value="j_password_input"/>
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="filterProcessesUrl" value="/login_check"/>
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="jpaUserDetailsService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="loggerListener" class="org.springframework.security.authentication.event.LoggerListener"/>
</beans:beans>